<script type="text/javascript" >
  var template = <%= @template.to_json.html_safe %>;
  var templateUrl = "<%= url_for(@template) %>";
  var submitMethod = 'PUT';
</script>
<h2>Редактирование шаблона <%= @template.display_name %></h2>
<%= render 'editor' %>
