<script type="text/javascript" >
  var template = <%= @template.data.to_json.html_safe %>;
  var templateUrl = "<%= templates_path.html_safe %>.json";
</script>
<h2>Создание шаблона</h2>
<%= render 'editor' %>
